.box {
  width: 100px;
  height: 100px;
}

.sidebarBg {
  background-color: #483eff;
}

.selectedStepperBg {
  background-color: #bfe2fdd9;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.customBorder {
  border: 1px solid grey;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.productsScrollStyle {
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
}
